body {
  /* width: 1440px; */
  margin: auto;
}
body header {
  /* position: fixed; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  margin: auto;
}
body header .img-logo {
  background-image: url("./img-header/IMAGE.svg");
  width: 104px;
  height: 40px;
}
body header .header-lick-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-lick-wrapper nav p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}
body header .header-lick-wrapper nav p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 63px;
  background-color: #F1EAFB;
}
body main {
  margin-top: 133px;
  /* or 100% */
}
body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main section .main-first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main section .main-first-part .top-title nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 70px "Roboto";
  color: #000000;
  width: 424px;
  height: 210px;
}
body main section .main-first-part .top-title nav p {
  width: 412px;
  height: 51px;
  font: 400 18px "Roboto";
  font-family: "Roboto";
  color: #000000;
}
body main section .main-first-part .btn-center {
  margin-top: 31px;
}
body main section .main-first-part .btn-center .main-btn-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1EAFB;
  border: 1px solid #000000;
  width: 262px;
  height: 42px;
  font: 400 16px "Roboto";
  color: #9F4A19;
}
body main section .main-first-part .btn-center .main-btn-demo {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 262px;
  height: 42px;
  font: 400 16px "Roboto";
  color: #9F4A19;
}
body main section .main-first-part div {
  font: 400 14px "Roboto";
  color: #808080;
}
body main section .main-photo {
  margin: auto;
  margin-top: -30px;
}
body main section .main-photo .main-photo-top-one {
  position: absolute;
  background-image: url("./img-main/IMAGE (2).svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 260px;
}
body main section .main-photo .main-photo-vector-one {
  margin: 30px 200px;
  position: absolute;
  background-image: url("./img-main/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 62px;
  height: 96px;
}
body main section .main-photo .main-photo-right-two {
  margin: 50px 290px;
  position: absolute;
  background-image: url("./img-main/IMAGE (3).svg");
  width: 150px;
  height: 216px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-vector-two {
  margin: 30px 310px;
  position: absolute;
  background-image: url("./img-main/Vector.svg");
  width: 80px;
  height: 71px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-right-three {
  margin: 230px 250px;
  position: absolute;
  background-image: url("./img-main/IMAGE (4).svg");
  width: 180px;
  height: 248px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-vector-four {
  margin: 450px 250px;
  position: absolute;
  background-image: url("./img-main/Vector.svg");
  width: 95px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-bottom-four {
  margin: 330px 70px;
  position: absolute;
  background-image: url("./img-main/IMAGE (5).svg");
  width: 167px;
  height: 214px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-vector-five {
  position: absolute;
  margin: 400px 0px;
  background-image: url("./img-main/Vector.svg");
  width: 82px;
  height: 97px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-left-five {
  margin: 250px -90px;
  position: absolute;
  background-image: url("./img-main/IMAGE (6).svg");
  width: 216px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: contain;
}
body main section .main-photo .main-photo-vector-six {
  margin: 250px -110px;
  position: absolute;
  background-image: url("./img-main/Vector.svg");
  width: 42px;
  height: 88px;
  background-repeat: no-repeat;
  background-size: contain;
}
body footer {
  margin-top: 381px;
}
body footer section {
  margin: auto;
}
body footer section .footer-img-footer {
  background-image: url("./img-footer/IMAGE (1).svg");
  width: 894px;
  height: 733px;
}