body {
  /* width: 1440px; */
  margin: auto;
}
body header {
  /* position: fixed; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  margin: auto;
}
body header .img-logo {
  background-image: url("./img-header/IMAGE.svg");
  width: 104px;
  height: 40px;
}
body header .header-lick-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-lick-wrapper nav p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}
body header .header-lick-wrapper nav p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 63px;
  background-color: #F1EAFB;
}
body header main {
  /* or 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header main section .top-title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body header main section .top-title div nav h1 {
  font: 400 70px "Roboto";
  color: #000000;
  width: 424px;
  height: 210px;
}
body header main section .top-title div nav p {
  font: 400 18px "Roboto";
  font-family: "Roboto";
  color: #000000;
}
body header main section .top-title .btn-center .main-btn-started {
  background: #F1EAFB;
  border: 1px solid #000000;
  border-radius: 0px;
  width: 262px;
  height: 42px;
}
body header main section .main-photo .main-photo-top-one {
  background-image: url("./img-main/IMAGE (2).svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 260px;
}
body header main section .main-photo .main-photo-vector-one {
  background-image: url("./img-main/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 62px;
  height: 96px;
}
body header main section .main-photo .main-photo-right-two {
  width: 150px;
  height: 216px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-vector-two {
  width: 80px;
  height: 71px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-right-three {
  width: 180px;
  height: 248px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-vector-four {
  width: 95px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-bottom-four {
  width: 167px;
  height: 214px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-vector-five {
  width: 82px;
  height: 97px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-left-five {
  width: 216px;
  height: 144px;
  background-repeat: no-repeat;
  background-size: contain;
}
body header main section .main-photo .main-photo-vector-six {
  width: 42px;
  height: 88px;
  background-repeat: no-repeat;
  background-size: contain;
}