body {
    /* width: 1440px; */
    margin: auto;

    header {
        /* position: fixed; */
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 64px;

        margin: auto;

        .img-logo {
            background-image: url("./img-header/IMAGE.svg");
            width: 104px;
            height: 40px;
        }

        .header-lick-wrapper {
            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;


                p {
                    display: flex;
                    justify-content: space-around;
                    margin-left: 100px;

                }

                p:last-child {
                    display: flex;
                    align-items: center;

                    width: 200px;
                    height: 63px;

                    background-color: #F1EAFB;
                }
            }
        }

        main {

            /* or 100% */
            display: flex;
            justify-content: space-between;

            section {
                .top-title {

                    div {
                        display: flex;
                        flex-direction: column;

                        nav {
                            h1 {
                                font: 400 70px 'Roboto';
                                color: #000000;
                                width: 424px;
                                height: 210px;
                            }

                            p {
                                font: 400 18px 'Roboto';
                                font-family: 'Roboto';

                                color: #000000;
                            }
                        }
                    }

                    .btn-center {
                        .main-btn-started {
                            background: #F1EAFB;
                            border: 1px solid #000000;
                            border-radius: 0px;

                            width: 262px;
                            height: 42px;

                        }

                        .main-btn-demo {}
                    }

                }


                .main-photo {
                    .main-photo-top-one {
                        background-image: url('./img-main/IMAGE\ \(2\).svg'
                                /* format:'truetype' */
                            );
                        background-repeat: no-repeat;
                        background-size: contain;

                        width: 170px;
                        height: 260px;
                    }

                    .main-photo-vector-one {
                        background-image: url('./img-main/Vector.svg'
                                /* format:'truetype' */
                            );
                        background-repeat: no-repeat;
                        background-size: contain;

                        width: 62px;
                        height: 96px;
                    }

                    .main-photo-right-two {
                        width: 150px;
                        height: 216px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-vector-two {
                        width: 80px;
                        height: 71px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-right-three {
                        width: 180px;
                        height: 248px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-vector-four {
                        width: 95px;
                        height: 62px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-bottom-four {
                        width: 167px;
                        height: 214px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-vector-five {
                        width: 82px;
                        height: 97px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-left-five {
                        width: 216px;
                        height: 144px;

                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .main-photo-vector-six {
                        width: 42px;
                        height: 88px;

                        background-repeat: no-repeat;
                        background-size: contain;

                    }
                }

            }
        }
    }
}